In [1]:
import pandas as pd

### Link to the dataset

https://www.kaggle.com/datasets/wordsforthewise/lending-club/data?select=rejected_2007_to_2018Q4.csv.gz

In [25]:
loan_data = pd.read_csv('data/rejected_2007_to_2018Q4.csv.gz')

In [26]:
loan_data

,Amount Requested,Application Date,Loan Title,Risk_Score,Debt-To-Income Ratio,Zip Code,State,Employment Length,Policy Code
0,1000.0,2007-05-26,Wedding Covered but No Honeymoon,693.0,10%,481xx,NM,4 years,0.0
1,1000.0,2007-05-26,Consolidating Debt,703.0,10%,010xx,MA,< 1 year,0.0
2,11000.0,2007-05-27,Want to consolidate my debt,715.0,10%,212xx,MD,1 year,0.0
3,6000.0,2007-05-27,waksman,698.0,38.64%,017xx,MA,< 1 year,0.0
4,1500.0,2007-05-27,mdrigo,509.0,9.43%,209xx,MD,< 1 year,0.0
...,...,...,...,...,...,...,...,...,...
27648736,10000.0,2016-12-31,Debt consolidation,590.0,41.26%,441xx,OH,< 1 year,0.0
27648737,10000.0,2016-12-31,moving,NaN,1.48%,207xx,MD,5 years,0.0
27648738,1200.0,2016-12-31,Other,686.0,10.26%,914xx,CA,< 1 year,0.0
27648739,25000.0,2016-12-31,debt_consolidation,NaN,17.71%,880xx,NM,< 1 year,0.0
27648740,15000.0,2016-12-31,Business,684.0,10.58%,113xx,NY,< 1 year,0.0

In [27]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27648741 entries, 0 to 27648740
Data columns (total 9 columns):
 #   Column                Dtype
---  ------                -----
 0   Amount Requested      float64
 1   Application Date      object
 2   Loan Title            object
 3   Risk_Score            float64
 4   Debt-To-Income Ratio  object
 5   Zip Code              object
 6   State                 object
 7   Employment Length     object
 8   Policy Code           float64
dtypes: float64(3), object(6)
memory usage: 1.9+ GB

In [ ]:
# Convert data types
loan_data = loan_data.astype(
    {
        'Application Date': 'datetime64[ns]',
        'Loan Title': 'str',
    }
)

In [29]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27648741 entries, 0 to 27648740
Data columns (total 9 columns):
 #   Column                Dtype
---  ------                -----
 0   Amount Requested      float64
 1   Application Date      datetime64[ns]
 2   Loan Title            object
 3   Risk_Score            float64
 4   Debt-To-Income Ratio  object
 5   Zip Code              object
 6   State                 object
 7   Employment Length     object
 8   Policy Code           float64
dtypes: datetime64[ns](1), float64(3), object(5)
memory usage: 1.9+ GB

In [ ]:
#loan_data['Year'] = loan_data['Application Date'].str[:4].astype(int)

In [ ]:
# Add year column from application date
loan_data['Year'] = loan_data['Application Date'].dt.year

# Convert Debt-To-Income Ratio column from percentage string to float
loan_data['Debt-To-Income Ratio'] = loan_data['Debt-To-Income Ratio'].str[:-1].astype(float) / 100

In [32]:
loan_data

,Amount Requested,Application Date,Loan Title,Risk_Score,Debt-To-Income Ratio,Zip Code,State,Employment Length,Policy Code,Year
0,1000.0,2007-05-26,Wedding Covered but No Honeymoon,693.0,0.1000,481xx,NM,4 years,0.0,2007
1,1000.0,2007-05-26,Consolidating Debt,703.0,0.1000,010xx,MA,< 1 year,0.0,2007
2,11000.0,2007-05-27,Want to consolidate my debt,715.0,0.1000,212xx,MD,1 year,0.0,2007
3,6000.0,2007-05-27,waksman,698.0,0.3864,017xx,MA,< 1 year,0.0,2007
4,1500.0,2007-05-27,mdrigo,509.0,0.0943,209xx,MD,< 1 year,0.0,2007
...,...,...,...,...,...,...,...,...,...,...
27648736,10000.0,2016-12-31,Debt consolidation,590.0,0.4126,441xx,OH,< 1 year,0.0,2016
27648737,10000.0,2016-12-31,moving,NaN,0.0148,207xx,MD,5 years,0.0,2016
27648738,1200.0,2016-12-31,Other,686.0,0.1026,914xx,CA,< 1 year,0.0,2016
27648739,25000.0,2016-12-31,debt_consolidation,NaN,0.1771,880xx,NM,< 1 year,0.0,2016
27648740,15000.0,2016-12-31,Business,684.0,0.1058,113xx,NY,< 1 year,0.0,2016